* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to left top, #6983aa, #6290bc, #569fcc, #43addb, #1fbce7);
}/* designing of container contains all things */
.wrapper {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 7px;
}
.wrapper header {
  color: #0a84f7;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 0.9rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(134, 127, 127, 0.521);
}
/* left arrow before the "weather" */
header i {
  font-size: 0px;
  margin-right: 8px;
  cursor: pointer;
}
/* when the class is not active then no arrow button is shown and it increases the size of title only and when we add the active class then it shows the property of above header i*/
.wrapper.active header i{
  font-size: 30px;
  margin-left: 5px;
}
.wrapper .input-part {
  margin: 20px 25px 30px;
}
.wrapper.active .input-part {
  display: none;
}
.input-part .warning-txt {
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 0px 7px;
  margin-bottom: 15px;
  
}
/* error shown if the user types something incorrect */

@keyframes shake {
  0% { transform: translate(30px); }
  20% { transform: translate(-30px); }
  40% { transform: translate(15px); }
  60% { transform: translate(-15px); }
  80% { transform: translate(8px); }
  100% { transform: translate(0px); }
}
@keyframes fadeIn {
  0% {opacity: 0.6;}
  100% {opacity: 1;}
} 
.warning-txt.error {
  display: block;
  color: #f7e7e8;
  background: #f5071fdc;
  text-transform: capitalize;
  font-weight: 500;
  animation: shake .4s ease-in-out 1 backwards;;
  /* animation: shake .4s ease-in-out; */
}

/* label shown if the user types all things correct */

.warning-txt.pending {
  display: block;
  color: #ddc8ca;
  background: #0c5460;
  text-transform: capitalize;
  font-weight: 500;
  
}
/* if the user wants to fetch the location from mobile of user */
.input-part .separator {
  height: 1px;
  width: 103%;
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.separator::before {
    content: "Or";
  padding: 0 15px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.514);
}
.input-part :where(input, button) {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1.02rem;
}

.input-part input {
  border: 1px solid rgba(112, 107, 107, 0.521);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.137);
  text-transform: capitalize;
  /* font-weight: 500; */
  /* color: #0094bd; */
}
.input-part input::placeholder{
    color: rgba(136, 136, 136, 0.747);
}
.input-part input:is(:focus, :valid) {
  border: 2.4px solid #2f43b6a2;
  transition: 0.3s;
}
.input-part button {
  cursor: pointer;
  color: #fff;
  background-color: #0094bd;
}
.input-part button:hover {
  background-color: #19809c;
  transition: 0.5s;
}
/* section 2: This is the output we got when user clicks on button*/
.wrapper .weather-part {
  margin: 30px 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper.active .weather-part {
  display: flex;
  
}
.weather-part img {
  max-width: 120px;
}
.weather-part .temp {
  font-size: 70px;
  display: flex;
  font-weight: 500;
}
.weather-part .temp .number {
  font-weight: 600;
}
.weather-part .temp .degree {
  display: block;
  margin: 10px 5px 0 0;
  font-size: 40px;
}
.weather-part .weather {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  margin: -5px 20px 15px;
}
.weather-part .location {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}
.location i {
  font-size: 22px;
  margin-right: 10px;
}
/* bottom details  */
.weather-part .bottom-details {
  border-top: 1px solid rgba(112, 107, 107, 0.521);
  border-bottom: 1px solid rgba(112, 107, 107, 0.521);
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.bottom-details .column {
  width: 100%;
  display: flex;
  padding: 12px 0;
  align-items: center;
  justify-content: center;
}
.column i {
  font-size: 40px;
  margin-right: 10px;
  color: #0094bd;
}
.column.feels {
  border-right: 1px solid rgba(112, 107, 107, 0.521);
}
.details .temp,
.humidity span {
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.details .temp .degree {
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}
.details p {
  font-size: 12px;
  font-weight: 500;
  margin-top: -6px;
}
#copyright{
    color: rgb(53, 51, 51);
    text-align: center;
    font-size: 1rem;
    margin: 15px;
    opacity: .8;
}
#copyright a{ 
    color: rgb(56, 53, 53);
    cursor: pointer;
    opacity: .8;
}

/* media queries */
@media screen and (max-width: 385px){
.wrapper {
    width: 240px;
}
.weather{
    width: 141px;
}
}
